/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg");


}
.imagen1{
    height: 445px;
    width: 799px;
    background-image: url("circuitos.jpg");
float: left;
background-repeat: no-repeat;
}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.imagen2{
    height: 360px;
    width: 642px;
    background-image: url("INTERNA.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen3{
    height: 500px;
    width: 1000px;
    background-image: url("EXTERNA.jpg");
float: left;
background-repeat: no-repeat;
}

.imagen4{
    height: 142px;
    width: 380px;
    background-image: url("configuracion\ 1.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen5{
    height: 468px;
    width: 600px;
    background-image: url("moeller.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen6{
    height: 245px;
    width: 479px;
    background-image: url("suma\ vertical.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen7{
    height: 238px;
    width: 479px;
    background-image: url("suma\ horizontal.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen8{
    height: 400px;
    width: 900px;
    background-image: url("resta\ horizontal.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen9{
    height: 179px;
    width: 335px;
    background-image: url("resta\ vertical.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen10{
    height: 298px;
    width: 666px;
    background-image: url("multiplicación.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen11{
    height: 269px;
    width: 505px;
    background-image: url("división.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen12{
    height: 333px;
    width: 599px;
    background-image: url("producto\ notable.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen13{
    height: 372px;
    width: 840px;
    background-image: url("notable\ cubo.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen14{
    height: 372px;
    width: 840px;
    background-image: url("transtornos.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen15{
    height: 400px;
    width: 600px;
    background-image: url("anorexia.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen16{
    height: 400px;
    width: 600px;
    background-image: url("bulimia.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen17{
    height: 435px;
    width: 600px;
    background-image: url("correr.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen18{
    height: 319px;
    width: 310px;
    background-image: url("dieta.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen19{
    height: 370px;
    width: 627px;
    background-image: url("agua.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen20{
    height: 370px;
    width: 343px;
    background-image: url("dormir.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen21{
    height: 370px;
    width: 493px;
    background-image: url("family.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen22{
    height: 480px;
    width: 493px;
    background-image: url("meditar.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen23{
    height: 472px;
    width: 630px;
    background-image: url("dulces.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen24{
    height: 472px;
    width: 630px;
    background-image: url("tv.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen25{
    height: 472px;
    width: 630px;
    background-image: url("fumar.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen26{
    height: 472px;
    width: 630px;
    background-image: url("alcohol.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen27{
    height: 487px;
    width: 666px;
    background-image: url("chatarra.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen28{
    height: 470px;
    width: 666px;
    background-image: url("zz.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen29{
    height: 1000px;
    width: 2000px;
    background-image: url("foto.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen30{
    height: 494px;
    width: 2000px;
    background-image: url("suma\ excel.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen31{
    height: 343px;
    width: 600px;
    background-image: url("promedio\ excel.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen32{
    height: 330px;
    width: 490px;
    background-image: url("max\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen33{
    height: 330px;
    width: 500px;
    background-image: url("min\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}