/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(241, 237, 237);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg");


}
.imagen1{
    height: 300px;
    width: 300px;
    background-image: url("circuitos.jpg");
float: left;
}