/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("imagen.jpg");


}
.imagen1{
    height: 445px;
    width: 799px;
    background-image: url("circuitos.jpg");
float: left;
background-repeat: no-repeat;
}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;

}
.imagen2{
    height: 360px;
    width: 642px;
    background-image: url("INTERNA.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen3{
    height: 500px;
    width: 1000px;
    background-image: url("EXTERNA.jpg");
float: left;
background-repeat: no-repeat;
}

.imagen4{
    height: 142px;
    width: 380px;
    background-image: url("configuracion\ 1.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen5{
    height: 468px;
    width: 600px;
    background-image: url("moeller.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen6{
    height: 245px;
    width: 479px;
    background-image: url("suma\ vertical.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen7{
    height: 238px;
    width: 479px;
    background-image: url("suma\ horizontal.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen8{
    height: 400px;
    width: 900px;
    background-image: url("resta\ horizontal.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen9{
    height: 179px;
    width: 335px;
    background-image: url("resta\ vertical.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen10{
    height: 298px;
    width: 666px;
    background-image: url("multiplicación.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen11{
    height: 269px;
    width: 505px;
    background-image: url("división.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen12{
    height: 333px;
    width: 599px;
    background-image: url("producto\ notable.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen13{
    height: 372px;
    width: 840px;
    background-image: url("notable\ cubo.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen14{
    height: 372px;
    width: 840px;
    background-image: url("transtornos.jpg");
float: left;
background-repeat: no-repeat;

}
.imagen15{
    height: 400px;
    width: 600px;
    background-image: url("anorexia.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen16{
    height: 400px;
    width: 600px;
    background-image: url("bulimia.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen17{
    height: 435px;
    width: 600px;
    background-image: url("correr.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen18{
    height: 319px;
    width: 310px;
    background-image: url("dieta.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen19{
    height: 370px;
    width: 627px;
    background-image: url("agua.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen20{
    height: 370px;
    width: 343px;
    background-image: url("dormir.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen21{
    height: 370px;
    width: 493px;
    background-image: url("family.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen22{
    height: 480px;
    width: 493px;
    background-image: url("meditar.jpg");
float: left;
background-repeat: no-repeat;
}
.imagen23{
    height: 472px;
    width: 630px;
    background-image: url("dulces.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen24{
    height: 472px;
    width: 630px;
    background-image: url("tv.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen25{
    height: 472px;
    width: 630px;
    background-image: url("fumar.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen26{
    height: 472px;
    width: 630px;
    background-image: url("alcohol.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen27{
    height: 487px;
    width: 666px;
    background-image: url("chatarra.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen28{
    height: 470px;
    width: 666px;
    background-image: url("zz.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen29{
    height: 350px;
    width: 450px;
    background-image: url("arte.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen30{
    height: 494px;
    width: 2000px;
    background-image: url("suma\ excel.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen31{
    height: 343px;
    width: 600px;
    background-image: url("promedio\ excel.jpg");
float: left;
background-repeat: no-repeat; 

}
.imagen32{
    height: 330px;
    width: 490px;
    background-image: url("max\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen33{
    height: 330px;
    width: 500px;
    background-image: url("min\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen34{
    height: 291px;
    width: 522px;
    background-image: url("buscarv\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen35{
    height: 287px;
    width: 573px;
    background-image: url("SI\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen36{

    height: 287px;
    width: 720px;
    background-image: url("cont\ excel.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen37{
    
    height: 350px;
    width: 604px;
    background-image: url("productos.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen38{
    
    height: 366px;
    width: 610px;
    background-image: url("suma\ por\ la\ diferencia.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen39{
    
    height: 353px;
    width: 668px;
    background-image: url("dos\ binomios.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen40{
    
    height: 375px;
    width: 647px;
    background-image: url("cua.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen41{
    
    height: 265px;
    width: 453px;
    background-image: url("sum.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen42{
    
    height: 450px;
    width: 858px;
    background-image: url("aa.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen43{
    
    height: 300px;
    width: 516px;
    background-image: url("cubo.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen44{
    
    height: 300px;
    width: 580px;
    background-image: url("fac.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen45{
    
    height: 253px;
    width: 300px;
    background-image: url("fac\ comun.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen46{
    
    height: 353px;
    width: 600px;
    background-image: url("agru.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen47{
    
    height: 427px;
    width: 910px;
    background-image: url("dif.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen48{
    
    height: 150px;
    width: 290px;
    background-image: url("perf.jpg");
float: left;
background-repeat: no-repeat; 
}

.imagen49{
    
    height: 990px;
    width: 1000px;
    background-image: url("logo.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen50{
    
    height: 740px;
    width: 1800px;
    background-image: url("tri.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen51{
    
    height: 720px;
    width: 1800px;
    background-image: url("de.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen52{
    
    height: 720px;
    width: 1800px;
    background-image: url("cuboo.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen53{
    
    height: 300px;
    width: 1800px;
    background-image: url("ayuda.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen54{
    
    height: 546px;
    width: 903px;
    background-image: url("esc.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen55{
    
    height: 546px;
    width: 903px;
    background-image: url("ha.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen56{
    
    height: 546px;
    width: 903px;
    background-image: url("paz.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen57{
    
    height: 546px;
    width: 903px;
    background-image: url("var.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen58{
    
    height: 546px;
    width: 903px;
    background-image: url("ro.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen59{
    
    height: 348px;
    width: 629px;
    background-image: url("fer.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen60{
    
    height: 740px;
    width: 1200px;
    background-image: url("embrio.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen61{
    
    height: 280px;
    width: 500px;
    background-image: url("trim.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen62{
    
    height: 280px;
    width: 565px;
    background-image: url("parto.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen63{
    
    height: 900px;
    width: 980px;
    background-image: url("examne.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen64{
    
    height: 607px;
    width: 521px;
    background-image: url("am.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen65{
    
    height: 525px;
    width: 579px;
    background-image: url("ele.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen66{
    
    height: 576px;
    width: 821px;
    background-image: url("h2.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen67{
    
    height: 352px;
    width: 420px;
    background-image: url("sod.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen68{
    
    height: 450px;
    width: 325px;
    background-image: url("met.jpg");
float: left;
background-repeat: no-repeat; 
}
.imagen69{
    
    height: 300px;
    width: 400px;
    background-image: url("cl.jpg");
float: left;
background-repeat: no-repeat; 
}